<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<!--<h1>The item <%#=@sub_item.name %> is now available.</h1>-->
<p>
  Hello! Your favourite item is now available for sale!
  Log in now to buy now!
  Hurry!
</p>
</body>
</html>