<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1> Hello <%=@user.name %>! </h1>
<p>
  <%=@item.name %>'s status has been changed to <%=@order.status %>
</p>

<p>Thank you for joining us. Have a great day!</p>
</body>
</html>