<h1>Verify otp</h1>
<%= form_for(:payment, :url => {:action => 'verify_otp'}) do |form| %>
  <div class="field">
    <%= form.label :otp %>
    <%= form.text_field :otp %>
  </div>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

