<h1>Editing Review</h1>

<%= render 'form', review: @review %>

<!--Commenting the below out as Show is not required-->
<!--<%#= link_to 'Show', @review %> |-->
<!--Commenting the below out as the Back is for new link-->
<!--%= link_to 'Back', reviews_path %>-->
<%= link_to 'Back', item_path(@item) %>